body {
    font-family: Arial;
    background: #f0efe7;
    padding: 20px;
}

#search {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 18px;
}

.quote-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #444;
}


